<head>
	<title>Better Name Pending</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/public/styles/bootstrap.min.css">
	<link rel="stylesheet" href="/public/styles/bootstrap-icons.css">
</head>

<body class="bg-dark h-100">
	<nav class="navbar navbar-expand-md navbar-light bg-secondary container-fluid">
		<button class="btn btn-outline-dark btn-lg" type="button" onclick="window.location.href='/'">BNP</button>
		<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-options">
			<i class="navbar-toggler-icon"></i>
		</button>

		<div class="collapse navbar-collapse" id="navbar-options">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item mx-1">
					<button class="btn btn-outline-dark btn-white" type="button" onclick="window.location.href='/games'">
						<i class="bi bi-controller"></i> Games
					</button>
				</li>

				<li class="nav-item">
					<% if (auth) { %>
					<button class="btn btn-outline-dark btn-primary" type="button" onclick="window.location.href='/profile'">
						<i class="bi"></i> Profile
					</button>
					<% } else { %>
					<button class="btn btn-outline-dark btn-primary" type="button" onclick="window.location.href='/signup'">
						<i class="bi"></i> Sign Up/Login
					</button>
					<% } %>
				</li>
			</ul>
		</div>
	</nav>

	<div class="bg-light container w-50 py-2">
		<div class="d-flex justify-content-between">
			<h1>Forums</h1>
			<button class="btn btn-outline-dark float-right" type="button" onclick="window.location.href='/addthread'">
				Add Thread
			</button>
		</div>
		<hr>
		<ul id="thread-list" class="list-unstyled w-100">
			<% for (var i = 0; i < data.rows.length; i++) { %>
			<li class="row border m-2">
				<a class="text-dark text-decoration-none" href="/thread/<%= data.rows[i].thread_id%>">
					<h4><%= data.rows[i].contents.title %></h4>
				</a>
				<div class="d-flex">
					<p class="mx-2 text-muted">
						<%= data.rows[i].author %>
					</p>
					<p class="ms-auto mr-3">
						<%= data.rows[i].date_created %>
					</p>
				</div>
			</li>
			<% } %>
		</ul>
	</div>

	<script src="/public/scripts/data.js"></script>
</body>